<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Environments URLs-->
    <add key="apiurl" value="http://api.openweathermap.org/data/2.5/weather?q="/>
    <add key ="APPID" value="2801e52c820d5fc4b11dccba03260602"/>
    <add key ="cityname" value="Sydney"/>
    <add key ="responseformat" value="JSON"/>
    <add key ="countrycode" value="036"/>
    <add key ="units" value="metric"/>
    <add key ="noofdays" value="14"/>
  </appSettings>
</configuration>